/*<!-- Hailey Seltzer
IntroCS pd02 sec02
HW05 -- Stuylin'/Creating an page with information and changing the style/Exploring HTML and CSS
2021-2-13--> */ 

h1 {
    font-family: fantasy;
    letter-spacing: 4px; 
    text-shadow: 2px 2px #D3D3D3;
} /* this makes anything with the h1 tage have a font of "fantasy", be spaced 4px between letters, and have a grey shadow */

h5{
    color: darkblue;
    font-weight: 100;
    text-decoration: underline;
} /* this makes anything with the h5 tag be colored dark blue, have the letters be a thickness of 100, and have it underlined */ 

h3 {
    font-size: 30px;
    text-align: center;
    font-family: monospace;
} /* this makes anything with the h3 tag have a size of 30 pixels, be aligned in the center and have a font of "monospace" */