h1 {
    font-family: fantasy;
} /* this makes anything with the h1 tage have a font of "fantasy" */

h5{
    color: darkblue;
} /* this makes anything with the h5 tag be colored dark blue */

h3 {
    font-size: 30px;
    text-align: center;
    font-family: monospace;
} /* this makes anything with the h3 tag have a size of 30 pixels, be aligned in the center and have a font of "monospace" */